player-connection-mode=Listen
player-connection-guid=3064938866
player-connection-debug=0
player-connection-project-name=Vesalius
player-connection-ip=169.254.75.44
player-connection-ip=192.168.129.70
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ac5b33c70b7e4acc8bff592cf96d5c57
