player-connection-mode=Listen
player-connection-guid=4176048218
player-connection-debug=0
player-connection-project-name=Vesalius
player-connection-ip=169.254.75.44
player-connection-ip=192.168.129.70
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6843e110ec5b40bc9b368c147c24e376
